In [6]:
import pandas as pd

In [8]:
random_text = pd.read_csv("download_text.csv", sep=",")
random_tweets = pd.read_csv("tweets_data.csv", sep=",", encoding='latin-1')

In [9]:
random_text = random_text.drop_duplicates()
random_text

                                                   text
0     James was leaning against the empty guard desk...
1     There was no clock on the nightstand between t...
2     Finley should’ve been happier — he should’ve b...
3     Inside a Belizean cave, you wade deeper into g...
4     Sophie had forgotten him by then. Not complete...
...                                                 ...
1252  I always dreamed about being stranded on a des...
1253  Edith could decide if she should paint her tee...
1254  Now I need to ponder my existence and ask myse...
1255  I want to buy a onesie… but know it won’t suit...
1256  Flesh-colored yoga pants were far worse than e...

[1257 rows x 1 columns]

In [10]:
random_tweets = random_tweets.drop_duplicates()
random_tweets

                                                      text
0        is upset that he can't update his Facebook by ...
1        @Kenichan I dived many times for the ball. Man...
2          my whole body feels itchy and like its on fire
3        @nationwideclass no, it's not behaving at all....
4                            @Kwesidei not the whole crew
...                                                    ...
1048570           My GrandMa is making Dinenr with my Mum
1048571  Mid-morning snack time... A bowl of cheese noo...
1048572  @ShaDeLa same here  say it like from the Termi...
1048573             @DestinyHope92 im great thaanks  wbuu?
1048574               cant wait til her date this weekend

[1036135 rows x 1 columns]

In [21]:
random_text_data = pd.concat([random_text, random_tweets])
random_text_data

                                                      text
0        James was leaning against the empty guard desk...
1        There was no clock on the nightstand between t...
2        Finley should’ve been happier — he should’ve b...
3        Inside a Belizean cave, you wade deeper into g...
4        Sophie had forgotten him by then. Not complete...
...                                                    ...
1048570           My GrandMa is making Dinenr with my Mum
1048571  Mid-morning snack time... A bowl of cheese noo...
1048572  @ShaDeLa same here  say it like from the Termi...
1048573             @DestinyHope92 im great thaanks  wbuu?
1048574               cant wait til her date this weekend

[1037392 rows x 1 columns]

In [22]:
random_text_data['text_new'] = random_text_data['text'].str.split('|').str[0]

random_text_data

,text,text_new
0,James was leaning against the empty guard desk...,James was leaning against the empty guard desk...
1,There was no clock on the nightstand between t...,There was no clock on the nightstand between t...
2,Finley should’ve been happier — he should’ve b...,Finley should’ve been happier — he should’ve b...
3,"Inside a Belizean cave, you wade deeper into g...","Inside a Belizean cave, you wade deeper into g..."
4,Sophie had forgotten him by then. Not complete...,Sophie had forgotten him by then. Not complete...
...,...,...
1048570,My GrandMa is making Dinenr with my Mum,My GrandMa is making Dinenr with my Mum
1048571,Mid-morning snack time... A bowl of cheese noo...,Mid-morning snack time... A bowl of cheese noo...
1048572,@ShaDeLa same here say it like from the Termi...,@ShaDeLa same here say it like from the Termi...
1048573,@DestinyHope92 im great thaanks wbuu?,@DestinyHope92 im great thaanks wbuu?
1048574,cant wait til her date this weekend,cant wait til her date this weekend

In [ ]:
## add all other paragraph text preprocessing here before sending to model

In [23]:
random_text_data['text_new'].to_csv("tidy_text_data.csv", index=False)
random_text_data['text_new']

KeyError: 'text_new'